{% extends "base.html" %}
{% block content %}
<h1>Donation Blockchain</h1>
<p><b>Available Money:</b> ${{ money_balance }}</p>
<p><b>Available Food Stock:</b></p>
<ul>
{% for item, qty in food_stock.items() %}
    <li>{{ item }}: {{ qty }}</li>
{% endfor %}
</ul>
<a href="{{ url_for('donate_money') }}">Donate Money</a><br>
<a href="{{ url_for('donate_food') }}">Donate Food</a><br>
<a href="{{ url_for('request_money') }}">Request Money</a><br>
<a href="{{ url_for('request_food') }}">Request Food</a><br>
<a href="{{ url_for('history') }}">View History</a>
{% endblock %}
